@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply w-full border-[1px] border-neutral-800 bg-black text-white px-2 py-3 rounded-md mb-[13px] outline-white text-base;
}

.white-btn {
  @apply bg-white text-black text-lg font-bold py-2 h-fit mt-4 px-8 rounded-full;
}

.border-btn {
  @apply bg-black text-white text-lg font-bold py-2 h-fit mt-4 px-8 border-1 border-white rounded-full;
}

.blue-btn {
  @apply bg-sky-500 text-white text-xl  py-2 px-4 rounded-full;
}

.blue__shadow {
  box-shadow: 0px 0 0 50px rgb(30, 145, 221);
}

.link__shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input::placeholder,
textarea::placeholder {
  color: #737373 !important;
}
